class ${1:ModelClassName}Sweeper < ActionController::Caching::Sweeper
	observe $1

	def after_save(${2:model_class_name})
		expire_cache($2)
	end

	def after_destroy($2)
		expire_cache($2)
	end

	def expire_cache($2)
		expire_page
	end
end
