/**
 * class $2
 * @author ${4:`g:snips_author`}
 */
${1:public} class ${2:`Snippet_JavaClassNameFromFilename()`}${3} {

	/**
	  * Constructor for $2
	  */
	public $2(${4}) {
		${5}
	}

	public static void main(String args[]) {
	}

}
