snippet if # {{#if value}} ... {{/if}}
	{{#if ${1:value}}}
	${0:${VISUAL}}
	{{/if}}
snippet ifn # {{#unless value}} ... {{/unless}}
	{{#unless ${1:value}}}
	${0:${VISUAL}}
	{{/unless}}
snippet ife # {{#if value}} ... {{else}} .. {{/if}}
	{{#if ${1:value}}}
	${2:${VISUAL}}
	{{else}}
	${3}
	{{/if}}
