snippet des "Describe" b
	describe('${1:}', () => {
		${0}
	});
snippet it "it" b
	it('${1:}', () => {
		${0}
	});
snippet xit "xit" b
	xit('${1:}', () => {
		${0}
	});
snippet exp "expect" b
	expect(${1:})${0};
snippet expe "expect" b
	expect(${1:}).to.equal(${0});
snippet expd "expect" b
	expect(${1:}).to.deep.equal(${0});
