# base
snippet base
	.PHONY: clean, mrproper
	CC = gcc
	CFLAGS = -g -Wall

	all: $1

	%.o: %.c
		$(CC) $(CFLAGS) -c -o $@ $<
	
	${1:out}: $1.o
		$(CC) $(CFLAGS) -o $@ $+

	clean:
		rm -f *.o core.*

	mrproper: clean
		rm -f $1
# add
snippet add
	${1:out}: $1.o
		$(CC) $(CFLAGS) -o $@ $+
# print
snippet print
	print-%: ; @echo $*=$($*)
# ifeq
snippet ifeq
	ifeq (${1:cond0}, ${2:cond1})
		${0}
	endif
