snippet if # {{#value}} ... {{/value}}
	{{#${1:value}}}
	${0:${VISUAL}}
	{{/$1}}
snippet ifn # {{^value}} ... {{/value}}
	{{^${1:value}}}
	${0:${VISUAL}}
	{{/$1}}
snippet ife # {{#value}} ... {{/value}} {{^value}} ... {{/value}}
	{{#${1:value}}}
	${2:${VISUAL}}
	{{/$1}}
	{{^$1}}
	${3}
	{{/$1}}
