snippet doc
	(** ${0} *)
snippet comment
	(* ${0} *)
snippet let
	let ${1} = ${2} in
	${0}
snippet fn
	let ${1} =
		${0}
snippet fun
	type ${1} = ${0}
snippet mod
	module ${1} = struct
		${0}
	end
snippet modty
	module type ${1} = sig
		${0}
	end
snippet sw
	match ${1} with
	| ${2} -> ${0}
snippet |
	| ${1} -> ${0}
snippet p
	|> ${0}
snippet if
	if ${1} then
		${2}
	else
		${0}
snippet fnr
	let rec ${1} =
		${0}
snippet try
	try
		${1}
	with ${0}
