snippet cont
	defmodule ${1:AppName}Web.${2:ControllerName}Controller do
		use $1Web, :controller
		
		${3}
	end

snippet view
	defmodule ${1:AppName}Web.${2:ViewName}View do
		use $1Web, :view
	end

snippet chan
	defmodule ${1:AppName}Web.${2:ChannelName}Channel do
		use $1Web, :channel
	end
