snippet b
	(
		${0}
	)
snippet if
	if (${1}) {
		${0}
	}
snippet ife
	if (${1}) {
		${2}
	} {
		${0}
	}
snippet for
	for (${1:1}, ${2:10}) { |i|
		${0}
	}
snippet sdef
	SynthDef(\\${1:synthName}, {${2}
		${0}
	}).add;
