# Jekyll post header
snippet header
	---
	title: ${1:title}
	layout: post
	date: ${2:date} ${0:hour:minute:second} -05:00
	---

# Image
snippet img
	!${1:url}(${2:title}):${0:link}!

# Table
snippet |
	|${1}|

# Link
snippet link
	"${1:link text}":${0:url}

# Acronym
snippet (
	(${1:Expand acronym})

# Footnote
snippet fn
	[${1:ref number}] ${0}

	fn$1. ${2:footnote}

