snippet header
	" File: ${1:`expand('%:t')`}
	" Author: ${2:`g:snips_author`}
	" Description: ${3}
	${0:" Last Modified: `strftime("%B %d, %Y")`}
snippet guard
	if exists('${1:did_`vim_snippets#Filename()`}') || &cp${2: || version < 700}
		finish
	endif
	let $1 = 1${0}
snippet f
	fun! ${1:`expand('%') =~ 'autoload' ? substitute(matchstr(expand('%:p'),'autoload/\zs.*\ze.vim'),'[/\\]','#','g').'#' : ''`}${2:function_name}(${3})
		${0}
	endf
snippet t
	try
		${1}
	catch ${2}
		${0}
	endtry
snippet for
	for ${1} in ${2}
		${0}
	endfor
snippet forkv
	for [${1},${2}] in items(${3})
		${0}
		unlet $1 $2
	endfor
snippet wh
	while ${1}
		${0}
	endw
snippet if
	if ${1}
		${0}
	endif
snippet ife
	if ${1}
		${2}
	else
		${0}
	endif
snippet au
	augroup ${1:AU_NAME}
		" this one is which you're most likely to use?
		autocmd ${2:BufRead,BufNewFile} ${3:*.ext,*.ext3|<buffer[=N]>} ${0}
	augroup end
snippet bun
	Bundle '${0}'
