<?php

/**
 * $1Controller
 * @package       ${2}
 * @author        ${3:`g:snips_author`}
 * @copyright     (c) `strftime("%Y")`
 */
class ${1:Index}Controller extends Application_Controller
{
	/**
	 * indexAction
	 *
	 * @access public
	 * @return void
	 */
	public function indexAction(){
		${4:// some code}
	}
}
