snippet ec
	; http://editorconfig.org

	root = true

	[*]
	indent_style = ${1:space_or_tab}
	indent_size = ${2:indent_size}
	end_of_line = lf
	charset = utf-8
	trim_trailing_whitespace = true
	insert_final_newline = true
