priority -50

snippet "\b(de)?f" "def <name>..." r
def ${1:method_name}${2:(${3:*args})}
	$0
end
endsnippet

snippet "\b(pde)?f" "private def <name>..." r
private def ${1:method_name}${2:(${3:*args})}
	$0
end
endsnippet
