priority -50

snippet switch "switch ... otherwise"
switch ${1:n}
	case ${2:0}
		${3}${4:
	otherwise
		${5}}
end
endsnippet

snippet clc "class with constructor" b
classdef ${1:`!p
snip.rv = snip.basename or "class_name"`} 
	properties
		${2}
	end
	methods
		function obj = $1(${3})
			${4}
		end${0}
	end
end
endsnippet
