priority -50

extends javascript

snippet int "interface"
interface ${1} {
}
endsnippet
snippet nspc "namespace"
namespace ${1} {
}
endsnippet
priority -49
snippet fun "function (named)" b
function ${1:function_name} (${2:argument}: ${3:argument_type}) {
	${VISUAL}$0
}
endsnippet
