i { background: #359 }
b { background: #335599 }
u { background: rgba(144, 0, 0, .5) }
s { background: hsl(0, 100%, 50%) }

*::color1 { -x-: #359 }
*::color2 { -x-: #335599 }
*::color3 { -x-: rgba(144, 0, 0, .5) }
*::color4 { -x-: hsl(0, 100%, 50%) }

/*
 * #123, #456
 */

/* #123456 */

ul {
  color: white;
}

ul li {
  color: yellow;
  background: black;
}
