priority -50

snippet s "String" b
"${1:key}": "${0:value}",
endsnippet

snippet n "number" b
"${1:key}": ${0:value},
endsnippet

snippet a "Array" b
[
	${VISUAL}$0
],
endsnippet
snippet o "Object" b
{
	${VISUAL}$0
},
endsnippet
