priority -50
extends javascript_react
extends typescript

priority -49
snippet rfc "react functional component"
import React, { FC } from "react"

interface ${1:function_name}Props {${4:props_types}}

export const ${1:function_name}: FC<${1:function_name}Props> = (${2:props}) => ${3:function_body}
endsnippet
